<div style="width: 100%; background: #e7e7e7">
  <ul style="width: 55%; list-style-type: none; display: flex; margin: auto">
    <li style="margin: 20px 30px">IPHONE</li>
    <li style="margin: 20px 30px">IPAD</li>
    <li style="margin: 20px 30px">WATCH</li>
    <li style="margin: 20px 30px">MACBOOK</li>
    <li style="margin: 20px 30px">BAO HANH</li>
    <li style="margin: 20px 30px">LIEN HE</li>
  </ul>
</div>
